# Pandas Exercises

### 1. Import numpy, pandas, etc

In [ ]:
import numpy as np

# import ....

### 2. Load the data from the file `"Loan payments data.csv"` into a variable called `"loans"`

In [ ]:
loans = # ... your code here ...

### 3. Display the first 7 rows of the data

In [ ]:
# ... your code here ...

### 4. Display the last 3 rows of the data

In [ ]:
# ... your code here ...

### 5. Select 25% of the data, picked randomly and display the first 5 rows

In [ ]:
# ... your code here ...

### 6. Sample 10 rows and display it

In [ ]:
# ... your code here ...

### 7. Display the value counts of the `loan_status` column and the `City` column

In [ ]:
# ... your code here ...

In [ ]:
# ... your code here ...

### 8. Display only the 201st row

In [ ]:
# ... your code here ...

### 9. Display only the `education` column

In [ ]:
# ... your code here ...

### 10. Display only the `loan_status` column

In [ ]:
# ... your code here ...

### 11. Display only the 9th column by index

***(hint: remember that Python is 0-indexed!)***

In [ ]:
# ... your code here ...

### 12. Display the 3rd through 7th rows by index slicing

In [ ]:
# ... your code here ...

### 13. Display the last 3 columns by index slicing

In [ ]:
# ... your code here ...

### 14. Display only the rows where `Gender` is `female`

In [ ]:
# ... your code here ...

### 15. Display only the rows where `education` is `college` AND `City` is `NYC`

In [ ]:
# ... your code here ...

### 16. Display only the rows where `age` is larger than 32

In [ ]:
# ... your code here ...

### 17.  Display the rows where there is a past-due of larger than a week and only display the `due_date` and `past_due_days` columns

In [ ]:
# ... your code here ...